__Pycache__

*.*_

*.pyc

.idea

settings_local.py

cadastro_pilotos/settings_local.py

/home/marco/PycharmProjects/cadastro_pilotos/cadastro_pilotos/settings_local.py

https://github.com/marcosdaniel0616/cadastro_pilotos/blob/34d526ba323b3a846f79d80a9b644c6dffde9fd5/cadastro_pilotos/settings_local.py

